<h1>大人の語彙力ドリル</h1>
<%= link_to '仕事', questions_path(genre: '仕事'), class: "btn btn-success" %>
<%= link_to '会食', questions_path(genre: '会食'), class: "btn btn-warning " %>
<%= link_to '日常会話', questions_path(genre: '日常会話'), class: "btn btn-primary" %>