<div class="btn btn-lg btn-outline-secondary text-center m-3 px-5 py-3 d-block">選択肢 : <%= question.choice_answer %></div><br>
<div class="btn btn-lg btn-outline-secondary text-center m-3 px-5 py-3 d-block">選択肢 : <%= question.choice_1 %></div><br>
<div class="btn btn-lg btn-outline-secondary text-center m-3 px-5 py-3 d-block">選択肢 : <%= question.choice_2 %></div><br>