<footer class="bg-dark text-white pt-4 pb-3 mt-5">
  <div class="container">
    <p class="text-center text-muted">丁寧な言葉遣いはたくさん存在します。このドリル答えが絶対の正解ではありません。</p>
    <p class="text-center">大人の語彙力ドリル</p>
  </div>
</footer>