<h1 class="m-5">Admin TOP</h1>

<%= link_to "ジャンル作成", admin_genres_path, class:"p-5 m-5" %>
<%= link_to "問題作成", new_admin_question_path, class:"p-5 m-5" %>
<%= link_to "問題一覧", admin_questions_path, class:"p-5 m-5" %>
